{% extends 'dashboard-base.html' %}
{% load data_load %}

{% block title %}
    Add New Poor Item
{% endblock title %}

{% block dashboard %} 
    <div class="dashboard_topbar">
        <div class="row">
            
            <div class="col-sm-4">
                <h2 class="fweight-600 fsize-24 align-center">
                    Total Pending People
                </h2>
            </div>
            
        </div>
    </div>  
    <hr>
    <div class="add_poor_area"> 
        <div class="search_option">
            <div class="row">
                <div class="col-sm-7"> 
                    <div class="button_search_option">
                        <ul>  
                            <li><a href="{% url 'poorapp:poor_list_all' %}">All - <span>{{total}}</span></a></li>
                            <li><a href="{% url 'poorapp:poor_list' %}">Active - <span>{{poor_list_active}}</span></a></li>
                            <li><a href="{% url 'poorapp:poor_list_inactive' %}">Inactive - <span>{{poor_list_inactive}}</span></a></li> 
                            <li><a class="active" href="{% url 'poorapp:poor_list_pending' %}">Pending - <span>{{total_pending}}</span></a></li>
                            <li><a href="{% url 'poorapp:poor_list_complete' %}">Complete - <span>{{poor_list_complete}}</span></a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>  
        {% if poor_list_pending %} 
        <table class="table table-bordered table-dark table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>SL</th>
                    <th>Name</td>
                    <th>Proffession</td>
                    <th>Help Type</td>
                    <th>Collection Date</td>  
                    <th class="align-center">Action</td>
                </tr>
            </thead>
            <tbody>   
                    {% for poor in poor_list_pending %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td>{{poor.name}}</td>
                        <td>{{poor.aplicant_proffessions}}</td>
                        <td>{{poor.help_type}}</td>
                        <td>{{poor.require_date}}</td>
                        
                        
                        <td class="action light width-30 align-center">
                            <a style="text-decoration: none;bordar-radious:3px;" href="{% url 'poorapp:approveed' poor.id %}">Approve</a> 
                            <a href="{% url 'commonapp:single_poor_people' poor.id %}"><i class="fa fa-eye"></i></a> 
                           
                            <!-- <a onclick="sure_delete()" href=""><i class="fa fa-trash-o"></i></a> -->
                        </td>
                    </tr>
                    {% endfor %}   
                </tbody>
            </table> 
            {% else %}
                <h2 class="align-center fweight-600 fsize-20" style="color: red;">There is no Data in Pending List</h2>
            {% endif %} 
    </div>
    <script>
        function sure_delete(){
            alert("Do you want to delte");
        }
    </script>
{% endblock dashboard %}
