{% extends 'commonapp/website_base.html' %}

{% block title %}
    Blood doner Login Page
{% endblock title %}

{% block body %}
    
<section class="user_login_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 login_forms">
                <h2 class="text-center card-title">Blood Doner Login Area</h2>
                <br>
                
                {% if messages %}
                    
                    {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                    {% endfor %}
                        
                {% endif %}
                    
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="user_mobile">Phone Number</label>
                        <input type="text" name='email_phone' id="user_mobile" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="donner_password">Password</label>
                        <input type="password" name='donner_password' id="donner_password" class="form-control" required>
                    </div>
                    <div class="submit_button form-group"> 
                        <input type="submit" value="Login as Doner" class="btn btn-success"> 
                        <p>Don't have Doner Account? <a href="{% url 'commonapp:register_blood_doner' %}">Register</a> as Blood Doner</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

    
{% endblock body %}