{% extends 'commonapp/website_base.html' %} 
{% load data_load %}
{% block body %}
    <section class="home_page_area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <form action="" method="">  
                        <div class="search_bar_area">
                            <div class="search_bar">
                                <div class="search_box">
                                    
                                    {% if search_result %}
                                        <input type="text" name="doner_name" value="{{name}}" placeholder="Doner Name.. " class="form-control">  
                                    {% else %} 
                                        <input type="text" name="doner_name" placeholder="Doner Name.. " class="form-control"> 
                                    {% endif %}  
                                </div>
                                <div class="submit_area">
                                    <div class="submit_btn">
                                        <input type="submit" class="btn btn-success" value="Search">
                                    </div>
                                    <div class="fileter_icon">
                                        <p><i class="fa fa-sliders" aria-hidden="true"></i></p>
                                    </div>
                                </div>
                            </div> 
                            <div class="filter_item">
                                <div class="single_search">
                                    <select name="district" id="district" class="form-control">
                                        <option value=""> Select District  </option>
                                        {% for dist in district_list %}
                                            {% if search_result %}
                                                
                                                {% if dist.id == district %}
                                                    <option value="{{dist.id}}" selected>{{dist.district_name}}</option>
                                                {% else %}
                                                    <option value="{{dist.id}}">{{dist.district_name}}</option>
                                                {% endif %}
                                            {% else %}
                                                <option value="{{dist.id}}">{{dist.district_name}}</option>   
                                            {% endif %}  
                                                
                                        {% endfor %}
                                            
                                    </select>
                                </div> 
                                <div class="single_search">
                                    <select name="city" id="city" class="form-control">
                                        <option value="">Select City</option> 
                                    </select>
                                </div> 
                                <div class="single_search">
                                    <select id="blood_type" name="blood_type" class="form-control">
                                        <option value="">Blood Group</option> 
                                        {% for item in blood_group %}
                                            <option value="{{item.id}}">{{item.group_name}}</option>
                                        {% endfor %}
                                            
                                    </select>
                                </div>
                            </div> 
                        </div> 
                    </form>

                    <div class="poor_times_area">
                            
                            {% if message == '0' %}
                            <h2 style="color: red;">There is no Data For this Query</h2>
                            {% elif message == '1' %}
                            <h2>Search Result</h2>
                            {% else %}
                                <h2>All Blood Doner Lists</h2>
                            {% endif %}
                                
                            
                        <div class="row"> 

                            {% for poor in blood_search %} 
                                <div class="col-sm-4">
                                    <div class="single_poor single_item_home">  
                                        <h1>{{poor.bdoner_name}}</h1> 
                                        <hr> 
                                        <ul>
                                            <li><strong>Blood Group</strong>: {{poor.blood_group.group_name}}</li>
                                            <li><strong>Mobile Number</strong>: <a href="tel:{{poor.bdoner_phone}}">{{poor.bdoner_phone}}</a></li>
                                            <li><strong>District</strong>: {{poor.bdoner_district.district_name}}</li>
                                            <li><strong>City</strong>: {{poor.bdoner_city}}</li>
                                            <li><strong>Doner Age</strong>: {{poor.bdoner_age}} Years</li>
                                            <li><strong>Last Donateed</strong>: {{poor.last_donate_date}}</li>

                                        </ul>
                                        <div class="btn_area">
                                            <ul>
                                                <li><a class="btn btn-success btn-sm float-left" href="tel:{{poor.bdoner_phone}}">Contact</a></li>
                                                <li><a class="btn btn-secondary btn-sm float-right" href="{% url 'poorapp:make_payment' poor.id %}">Send Request</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 home_sidebar">
                    <div class="sidebar_homepage">
                        <div class="single_sidebar_home">
                            <h2>Top Donner</h2>
                            <ul>
                                {% for item in help_category %}
                                    <li><a href="">{{item}}</a></li>
                                {% endfor %} 
                            </ul>
                        </div>
                        <div class="single_sidebar_home">
                            <h2>Help Category</h2>
                            <ul>
                                {% for item in help_category %}
                                    <li><a href="">{{item}}</a></li>
                                {% endfor %} 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block scripts %}
<script type="text/javascript">
    $('#district').change(function() {
        var url = "/districtwise-city-search/";
        $.ajax({
            url: url,
            data: {
                'district_list': $('#district :selected').val(),
            },
            success: function(data) {
                $("#city").html(data);
            }
        });
    });
</script>
    <script>
        $(document).ready(function(){  

            var i = 0;
            $('.fileter_icon p').click(function(){
                if(i%2 == 0){
                    $('.filter_item').css('top','0px'); 
                    $('.filter_item').css('opacity','0'); 
                    $('.filter_item').css('transition','all 0.5s');
                    $('.filter_item').css('z-index','-1');
                }
                else{
                    $('.filter_item').css('top','35px'); 
                    $('.filter_item').css('opacity','1'); 
                    $('.filter_item').css('transition','all 0.5s');
                    $('.filter_item').css('z-index','999');
                }
                i++;
            });
        });
    </script>
{% endblock scripts %}
    