{% extends 'commonapp/website_base.html' %} 
{% load data_load %}
{% block body %}
    <section class="home_page_area">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <form action="{% url 'commonapp:search_poor' %}" method="GET">  
                        <div class="search_bar_area">
                            <div class="search_bar">
                                <div class="search_box">
                                    <input type="text" name="search" placeholder="Search for helping" class="form-control">   
                                </div>
                                <div class="submit_area">
                                    <div class="submit_btn">
                                        <input type="submit" class="btn btn-success" value="Search">
                                    </div>
                                    <div class="fileter_icon">
                                        <p><i class="fa fa-sliders" aria-hidden="true"></i></p>
                                    </div>
                                </div>
                            </div> 
                            <div class="filter_item">
                                <div class="single_search">
                                    <select name="district" id="district" class="form-control">
                                        <option value=""> Select District  </option>
                                        {% for dist in district_list %}
                                            <option value="{{dist.id}}">{{dist.district_name}}</option>
                                        {% endfor %}
                                            
                                    </select>
                                </div> 
                                <div class="single_search">
                                    <select name="city" id="city" class="form-control">
                                        <option value="">Select City</option>
                                    </select>
                                </div> 
                                <div class="single_search">
                                    <select id="help_cat" name="help_cat" class="form-control">
                                        <option value="">Help Category</option>
                                        
                                        {% for item in help_category %}
                                            <option value="{{item.id}}">{{item}}</option>
                                        {% endfor %}
                                            
                                    </select>
                                </div>
                            </div> 
                        </div> 
                    </form>
                    <div class="poor_times_area">
                            <h2>All people who need helps</h2>
                        <div class="row">
                            
                            {% if poor_search %}
                            {% for poor in poor_search %}
                            {% if not poor.complete_status %}
                                <div class="col-sm-4">
                                    <div class="single_poor single_item_home">  
                                        <h1>{{poor.name}}</h1> 
                                        <hr> 
                                        <ul>
                                            <li><strong>Mobile Number</strong>: <a href="tel:{{poor.mobile_number}}">{{poor.mobile_number}}</a></li>
                                            <li><strong>District</strong>: {{poor.city_name.district}}</li>
                                            <li><strong>City</strong>: {{poor.city_name}}</li>
                                        {% if poor.help_type.id == 3 %}
                                            <li><strong>Acount Required</strong>: {{poor.amount}}</li>
                                            <li><strong>Amount Received</strong>: {{poor.amount_received}}</li>
                                            <li><strong>Amount Need</strong>: {{total_payments|make_payment:poor}}</li> 
                                            
                                        {% elif poor.help_type.id == 1 %}
                            
                                            <li><strong>Educational Items</strong>: {{ poor.edu_items }}</li>
                                        {% elif poor.help_type.id == 2 %}
                                            <li><strong>Cloth Count </strong>: {{ poor.cloth_count }}</li>
                                            <li><strong>Cloth Size </strong>: {{ poor.cloth_size }}</li>
                                        {% elif poor.help_type.id == 6 %}
                                            <li><strong>Food Quantity </strong>: {{ poor.food_quantity }}</li>
                                            <li><strong>Food Time </strong>: {{ poor.food_time }}</li>
                                        {% endif %}
                                            <li><strong>Require Date</strong>: {{poor.require_date}}</li>

                                        </ul>
                                        <div class="btn_area">
                                            <ul>
                                                <li><a class="btn btn-success btn-sm float-left" href="{% url 'commonapp:single_poor_people' poor.id %}">View Application</a></li>
                                                
                                                <li><a class="btn btn-secondary btn-sm float-right" href="{% url 'poorapp:doner_login' %}">Make Donation</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                            {% else %} 
                                {% for poor in poor_item %}
                                {% if not poor.complete_status %}

                                    <div class="col-sm-4">
                                        <div class="single_poor single_item_home">  
                                            <h1>{{poor.name}}</h1> 
                                            <hr> 
                                            <ul>
                                                <li><strong>Mobile Number</strong>: <a href="tel:{{poor.mobile_number}}">{{poor.mobile_number}}</a></li>
                                                <li><strong>District</strong>: {{poor.city_name.district}}</li>
                                                <li><strong>City</strong>: {{poor.city_name}}</li>
                                                {% if poor.help_type.id == 3 %}
                                            <li><strong>Acount Required</strong>: {{poor.amount}}</li>
                                            <li><strong>Amount Received</strong>: {{poor.amount_received}}</li>
                                            <li><strong>Amount Need</strong>: {{total_payments|make_payment:poor}}</li> 
                                            
                                        {% elif poor.help_type.id == 1 %}
                            
                                            <li><strong>Educational Items </strong>: {{ poor.edu_items }}</li>
                                        {% elif poor.help_type.id == 2 %}
                                            <li><strong>Cloth Count </strong>: {{ poor.cloth_count }}</li>
                                            <li><strong>Cloth Size </strong>: {{ poor.cloth_size }}</li>
                                        {% elif poor.help_type.id == 6 %}
                                            <li><strong>Food Quantity </strong>: {{ poor.food_quantity }}</li>
                                            <li><strong>Food Time </strong>: {{ poor.food_time }}</li>
                                        {% endif %}
                                                <li><strong>Require Date</strong>: {{poor.require_date}}</li>

                                            </ul>
                                            <div class="btn_area">
                                                <ul>
                                                    <li><a class="btn btn-success btn-sm float-left" href="{% url 'commonapp:single_poor_people' poor.id %}">View Application</a></li>
                                                    
                                                    <li><a class="btn btn-secondary btn-sm float-right" href="{% url 'poorapp:doner_login' %}">Make Donation</a></li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                                {% endfor %}

                            {% endif %}
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
{% endblock body %}
{% block scripts %}
<script type="text/javascript">
    $('#district').change(function() {
        var url = "/districtwise-city-search/";
        $.ajax({
            url: url,
            data: {
                'district_list': $('#district :selected').val(),
            },
            success: function(data) {
                $("#city").html(data);
            }
        });
    });
</script>
    <script>
        $(document).ready(function(){  

            var i = 0;
            $('.fileter_icon p').click(function(){
                if(i%2 == 0){
                    $('.filter_item').css('top','0px'); 
                    $('.filter_item').css('opacity','0'); 
                    $('.filter_item').css('transition','all 0.5s');
                    $('.filter_item').css('z-index','-1');
                }
                else{
                    $('.filter_item').css('top','35px'); 
                    $('.filter_item').css('opacity','1'); 
                    $('.filter_item').css('transition','all 0.5s');
                    $('.filter_item').css('z-index','999');
                }
                i++;
            });
        });
    </script>
{% endblock scripts %}
    