{% extends 'commonapp/website_base.html' %}

{% block title %}
    Blood Doner Register
{% endblock title %}

{% block body %}
    
<section class="user_login_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 login_forms">
                <h2 class="text-center card-title">Register As Blood Doner</h2>
                <br>
                
                {% if messages %}
                    
                    {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                    {% endfor %}
                        
                {% endif %}
                    
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="doner_name">Name *</label>
                        <input type="text" name='doner_name' id="doner_name" class="form-control" required>
                    </div> 
                    <div class="form-group">
                        <label for="doner_phone">Phone Number</label>
                        <input type="tel" name='bdoner_phone' id="bdoner_phone" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="doner_pass">Password *</label>
                        <input type="password" name='bdoner_pass' id="bdoner_pass" class="form-control" required>
                    </div>  
                    <div class="form-group">
                        <label for="doner_pass">Age</label>
                        <input type="number" name='bdoner_age' id="bdoner_age" class="form-control" required>
                    </div> 
                    <div class="form-group"> 
                        <label for="gender">Gender </label> 
                        <select name="gender" class=form-control id="gender">  
                            <option value="F">Male</option>
                            <option value="M">Female</option>
                            <option value="O">Other</option>
                        </select>  
                    </div> 
                    <div class="form-group"> 
                        <label for="blood_group">Blood Group</label> 
                        <select name="blood_group" class=form-control id="blood_group">  
                            {% for item in blood_doner %}
                                <option value="{{item.id}}">{{item}}</option>
                            {% endfor %}  
                        </select>  
                    </div> 
                    <div class="form-group"> 
                        <label for="donate_date">Last Donate Date</label> 
                        <input type="date" class="form-control" name="donate_date">
                    </div> 

                    <div class="form-group"> 
                        <label for="district">District</label> 
                        <select name="district" class=form-control id="district">  
                            {% for item in disttrict_list %}
                                <option value="{{item.id}}">{{item}}</option>
                            {% endfor %}  
                        </select>  
                    </div> 
                    <div class="form-group"> 
                        <label for="city_list">City Name</label> 
                        <select name="city" id="city_list" class="form-control">
                            <option value="" selected>-----select-----</option>
                        </select>
                    </div>
                    <div class="submit_button form-group">  
                        <input type="submit" value="Register As Blood Doner" class="btn btn-success">  
                    </div>

                    <p>Already have Doner account ? <a href="{% url 'commonapp:blood_doner_login' %}">Login</a> to Donate</p>
                    <div id="data">

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>  


{% endblock body %} 

{% block scripts %}
    <script>
        $('#district').change(function() {
            var url = "{% url 'commonapp:bind_districtwise_city' %}";
            $.ajax({
                url: url,
                data: {
                    'district_list': $("#district :selected").val(),
                },
                success: function(data) {
                    $("#city_list").html(data);
                }
            });
        });
    </script>
{% endblock scripts %}
    