{% extends 'commonapp/website_base.html' %} 
{% load data_load %}
{% block body %}
<section class="home_page_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="applicant_content_area">
                    <div class="single_info_area">
                        <h2>Personal Information</h2>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 applicant_content">
                                <p><strong>Name </strong>{{ poor.name }}</p>
                                <p><strong>Mobile Number  </strong>{{ poor.mobile_number }}</p>
                                <p><strong>Email  </strong>{{ poor.email }}</p>
                                <p><strong>Age </strong>{{ poor.aplicant_age }} years</p>
                                <p><strong>Profession </strong>{{ poor.aplicant_proffessions.proffession_type }}</p>
                                <p><strong>Gender </strong>{{ poor.get_aplicant_gender_display }}</p>
                                {% if poor.help_type.id == 3 %}
                                    <p><strong>Amount Needed </strong>{{ poor.amount }}</p>
                                    <p><strong>Amount Received </strong>{{ poor.amount_received }}</p>
                                {% elif poor.help_type.id == 1 %}
                            <p><strong>Educational Items </strong>{{ poor.edu_items }}</p>

                                {% elif poor.help_type.id == 2 %}
                                <p><strong>Cloth Count </strong>{{ poor.cloth_count }}</p>
                            <p><strong>Cloth Size </strong>{{ poor.cloth_size }}</p>
                                {% elif poor.help_type.id == 6 %}
                                <p><strong>Food Quantity Need</strong>{{ poor.food_quantity }}</p>
                            <p><strong>Food Time </strong>{{ poor.food_time }}</p>
                                {% endif %}
                                
                                <p><strong>Help Needed for </strong>{{ poor.help_type.category_name }}</p>
                                <p><strong>Help Needed Date </strong>{{ poor.require_date }}</p>
                            </div>
                            <div class="col-6 applicant_pic">
                                <img src="{{ poor.image.url }}" alt="">
                            </div>
                        </div>
                        <hr>
                        <p><strong>Father Name </strong>{{ poor.father_name }}</p>
                        <p><strong>Father Profession </strong>{{ poor.father_proffession.proffession_type }}</p>
                        <p><strong>Father Mobile Number </strong>{{ poor.father_contact_number }}</p>
                        <p><strong>Mother Name </strong>{{ poor.mother_name }}</p>
                        <p><strong>District </strong>{{ poor.district_name }}</p>
                        <p><strong>City </strong>{{ poor.city_name }}</p>
                        <p><strong>Post Code </strong>{{ poor.post_code }}</p>
                        <p><strong>Address </strong>{{ poor.address }}</p>
                        {% if poor.help_type.id == 3 %}
                        <p><strong>Payment Method </strong>{{ poor.payment_type.payment_type }}</p>
                        <p><strong>{{ poor.payment_type.payment_type }} Number </strong>{{ poor.payment_type_account }}</p>
                        {% endif %}
                        <p><strong>Identity Type </strong>{{ poor.get_identity_doc_type_display }}</p>
                        <p><strong>{{ poor.get_identity_doc_type_display }} Number </strong>{{ poor.identity_doc_number }}</p>
                        
                        <p><strong>Description </strong>{{ poor.problem_description|safe }}</p>

                        <!-- Conditional Details based on Help Type -->
                        {% if poor.help_type.id == 3 %}
                            <h3>Financial Help Details</h3>
                            <hr>
                            <p><strong>Amount </strong>{{ poor.amount }}</p>
                            <p><strong>Payment Type </strong>{{ poor.payment_type.payment_type }}</p>
                            <p><strong>Account Number </strong>{{ poor.payment_type_account }}</p>
                        {% elif poor.help_type.id == 1 %}
                            <h3>Educational Help Details</h3>
                            <hr>
                            <p><strong>Educational Items </strong>{{ poor.edu_items }}</p>
                        {% elif poor.help_type.id == 2 %}
                            <h3>Clothing Help Details</h3>
                            <hr>
                            <p><strong>Cloth Count </strong>{{ poor.cloth_count }}</p>
                            <p><strong>Cloth Size </strong>{{ poor.cloth_size }}</p>
                        {% elif poor.help_type.id == 6 %}
                            <h3>Food Help Details</h3>
                            <hr>
                            <p><strong>Food Quantity </strong>{{ poor.food_quantity }}</p>
                            <p><strong>Food Time </strong>{{ poor.food_time }}</p>
                        {% endif %}
                        <h3>Image of {{ poor.get_identity_doc_type_display }}</h3>

                        <hr>
                        <img src="{{ poor.identity_doc.url }}" alt="">
                        <h3>Image of Documents:</h3>
                        <hr>
                        <img src="{{ poor.document_file_one.url }}" alt="">
                        {% if poor.document_file_two %}
                            <img src="{{ poor.document_file_two.url }}" alt="">
                        {% endif %}
                        {% if poor.document_file_three %}
                            <img src="{{ poor.document_file_three.url }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
