<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    

    <title>
        {% block title %}
          Home Page
        {% endblock title %}
    </title>
</head>
<body> 
    <header class="header_area sticky-top" style="margin-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo">
                            <h2>JIZEN</h2>
                        </div>
                    </div>
                    <div class="col-md-9"> 
                        <div class="menu">
                            <ul>
                                <li><a href="{% url 'commonapp:home' %}">Home</a></li>
                                <li><a href="">Login</a>
                                    <ul>
                                        <li><a href="{% url 'poorapp:doner_login' %}">Login As Donor</a></li>
                                       
                                        <li><a href="{% url 'poorapp:admin_login' %}">Admin Login</a></li>
                                    </ul>
                                </li> 
                                
                                <li><a href="">Register</a>
                                    <ul>
                                        <li><a href="{% url 'poorapp:doner_register' %}">Register as Donor</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'commonapp:contact_support' %}">Contact Support</a></li>

                                <li><a class="float-right" href="{% url 'commonapp:application_form' %}">Apply for Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
  {% block body %}
    
  {% endblock body %} 
   
  {% block footer %}
    
  {% endblock footer %}
    
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block scripts %}
    
{% endblock scripts %}
    
</body>
</html>