<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700&display=swap" rel="stylesheet">
    {% load static %}
    {% load data_load %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">


    <title>
        {% block title %}
          Dashboard
        {% endblock title %}
    </title>
</head>
<body>
<header class="header_area sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                    <a target="_blank" href="{% url 'commonapp:home' %}"><h2>JIZEN</h2></a>
                </div>
            </div>
            <div class="col-md-8">  
                <div class="top_title doner_menu_area">
                        <div class="left_menu menu">
                            <ul>
                                <li><a href="">Dashboard</a></li> 
                                </li> 
                                
                                <li><a href="{% url 'poorapp:admin_logout' %}">Logout</a></li>
                            </ul>
                        </div> 
                       
                    </div> 

            </div>
        </div>
    </div>
</header> 
<section class="dashboard_content_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 fixed-left dashboard_sidebar">
                <div class="sidebar">   
                    <div class="accordion single_sidebar" id="accordionExample">  
                        <h3 class="collapsed" data-toggle="collapse" data-target="#one" aria-expanded="true" aria-controls="one"><i class="fa fa-list-ul"></i> Receiver Dashboard</h3>

                        <div id="one" class="dashboard_menu collapse show" data-parent="">
                            <ul>
                                <li><a href="{% url 'poorapp:poor_list' %}"><i class="fa fa-hand-o-right"></i> Receiver list</a></li>
                                <li><a id="add_poor" href="{% url 'poorapp:add_poor' %}"><i class="fa fa-hand-o-right"></i> Receiver Add</a></li>
                                <li><a href=""><i class="fa fa-hand-o-right"></i> Receiver Delete</a></li>
                            </ul>
                        </div>  
                    </div>  


                </div>  
            </div> 
            <div class="col-sm-9">
                <div class="dashboard_content"> 
                    
                    {% block dashboard %}
                        
                    {% endblock dashboard %}
                        
                </div>
            </div>
        </div> 
    </div> 
</section>


<script> 
  
    var loc = window.location.pathname
    if (loc == '/poor/dashboar/add-poor-item'){
        var element = document.getElementById("one");
        element.classList.add("show");
        var active = document.getElementById("add_poor");
        active.classList.add("active")
    }  

</script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block script %}
    
{% endblock script %}
    
</body>
</html>