{% extends 'dashboard-base.html' %}  

{% block title %}
    Doner Password Update
{% endblock title %}
    
{% load data_load %}
{% block dashboard %}  
<div class="dashboard_topbar">
    <div class="row">
        <div class="col-sm-6">
            <div class="dashboar_top_title">
                <a class="link fsize-20 fweight-600" href="{% url 'poorapp:doner_dashboard' %}"><i class="fa fa-hand-o-right"></i>Back to Dashboard</a>
            </div>
            
        </div>  
        <div class="col-sm-6">
            <div class="dashboar_top_title">
                <h2 class="fweight-600 fsize-24 pbottom-30 align-center">
                    Update Your Password
                </h2>
            </div>
            
        </div>  
    </div>
</div>  
<hr>
<div class="add_poor_area password_change">
    <h3 class="pbottom-30 align-center">Update Your Password</h3>
    {% if messages %}
            
    {% for message in messages %}
        <p style="color:red">{{message}}</p>
    {% endfor %}
        
{% endif %}
    <form action="" method="POST">{% csrf_token %}
    <table class="table mtop-20">
        <tr>
            <td width="20%">Your Old Password</td>
            <td class="password_field"><input id="old_pass" type="password" class="form-control" name="old_pass" id=""> 
                <div class="eye_open">
                    <i class="fa fa-eye"></i>
                </div>
                <div class="eye_close hide">
                    <i class="fa fa-eye-slash"></i>
                </div>
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td width="20%">New Password</td>
            <td class="password_field"> 
                <input id="new_pass" type="password" class="form-control" name="new_pass" minlength="8"> 
                <div class="eye_open1">
                    <i class="fa fa-eye"></i>
                </div>
                <div class="eye_close1 hide">
                    <i class="fa fa-eye-slash"></i>
                </div>
            </td>
            <td width="20%"><p style="color: red;" id="message1"></p></td>
        </tr>  
        <tr> 
            <td width="20%">Confirm New Password</td>
            <td class="password_field">
                <input id="confirm_pass" type="password" class="form-control" name="confirm_pass"> 
            </td>
            <td width="20%"><p style="color: red;" id="message"></p></td>
        </tr>
        <tr>
            <td colspan="2" class="align-right">
                <input type="submit" class="btn btn-success" value="Update Password">
            </td>
            <td></td>
        </tr>
    </table>
</form>
</div>
    

{% endblock dashboard %}


{% block script %}
    <script>
        $(document).ready(function(){ 

            $("#new_pass").keyup(function(){
                var val3 = $("#new_pass").val();  
                var val4 = 8 - val3.length;
                if(val3.length){
                    if((val4<8) && (val4 >0)){
                        document.getElementById('message1').innerHTML = val4 + " Character Left";
                    }
                    else{
                        document.getElementById('message1').innerHTML = "Good Passssword";
                    }
                    
                }
                else{
                    document.getElementById('message1').innerHTML = "";
                }
                

            });
            $("#confirm_pass").keyup(function(){
                var val1 = $("#new_pass").val();
                var val2 = $("#confirm_pass").val();   
                if(val2.length>0){
                    if(val1 != val2){
                        document.getElementById('message').innerHTML = "Password not Match";
                    }
                    else{
                        document.getElementById('message').innerHTML = "Password Match";
                    } 
                }
                else{
                    document.getElementById('message').innerHTML = "";
                }
                
            });

            $(".eye_open").click(function(){
                $("input#old_pass").attr("type","text");
                $(".eye_open").addClass("hide");
                $(".eye_close").removeClass("hide");
                $(".eye_close").addClass("show");
                $(".eye_open").removeClass("show");

            });
            $(".eye_close").click(function(){
                $("input#old_pass").attr("type","password");
                $(".eye_open").addClass("show");
                $(".eye_open").removeClass("hide");
                $(".eye_close").addClass("hide");

            });

            $(".eye_open").click(function(){
                $("input#old_pass").attr("type","text");
                $(".eye_open").addClass("hide");
                $(".eye_close").removeClass("hide");
                $(".eye_close").addClass("show");
                $(".eye_open").removeClass("show");

            });
            $(".eye_close").click(function(){
                $("input#old_pass").attr("type","password");
                $(".eye_open").addClass("show");
                $(".eye_open").removeClass("hide");
                $(".eye_close").addClass("hide");

            });

            $(".eye_open1").click(function(){
                $("input#new_pass").attr("type","text");
                $(".eye_open1").addClass("hide");
                $(".eye_close1").removeClass("hide");
                $(".eye_close1").addClass("show");
                $(".eye_open1").removeClass("show");

            });
            $(".eye_close1").click(function(){
                $("input#new_pass").attr("type","password");
                $(".eye_open1").addClass("show");
                $(".eye_open1").removeClass("hide");
                $(".eye_close1").addClass("hide");

            });

        });
    </script>
{% endblock script %}
    
    