{% extends 'dashboard-base.html' %}  
{% load data_load %}
{% block dashboard %}  
    <div class="make_payment"> 
        <hr>
        <form action="" method="POST">{% csrf_token %} 
             
        </form>
    </div>  
    <div class="poor_people_area">
        <div class="row">
            
            {% for poor in poor_item %} 
                <div class="col-sm-4">
                    <div class="single_poor">  
                        <h1>{{poor.name}}</h1> 
                        <hr> 
                        <ul>
                            <li><strong>Mobile Number</strong>: <a href="tel:{{poor.mobile_number}}">{{poor.mobile_number}}</a></li>
                            <li><strong>District</strong>: {{poor.city_name.district}}</li>
                            <li><strong>City</strong>: {{poor.city_name}}</li>
                            <li><strong>Acount Required</strong>: {{poor.amount}}</li>
                            <li><strong>Amount Received</strong>: {{poor.amount_received}}</li>
                            <li><strong>Require Date</strong>: {{poor.require_date}}</li>
                            <li><strong>Amount Need</strong>: {{total_payments|make_payment:poor}}</li> 

                        </ul>
                        <div class="btn_area">
                            <ul>
                                <li><a class="btn btn-success btn-sm float-left" href="">View Application</a></li>
                                <li><a class="btn btn-secondary btn-sm float-right" href="{% url 'poorapp:make_payment' poor.id %}">Make Payment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock dashboard %}
    